.hidden {
  display: none;
}

.cont-button {
  margin-top: 100px;
}

.btn.start {
  padding: 32px 64px; 
}

.question {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 45px;
}

#answers {
  font-size: 25px;
  list-style-type: none;
  padding-left: 0;
}

#answers li {
  margin-bottom: 16px;
  background-color: purple;
  color: white;
  padding: 3px 0 3px 20px;
  border-radius: 5px;
}